<%- include('./header.ejs') %>
    <div class="w-full h-full flex justify-center  mt-5">
        <div class="w-full max-w-[500px] flex min-h-full flex-col justify-center bg-white px-6 py-10 lg:px-8 drop-shadow-md rounded-2xl">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm border-b border-black py-2">
                <img class="mx-auto h-10 w-auto mb-3" src="/images/logo.jpg" alt="Your Company">
                <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900 uppercase">Sign in</h2>
            </div>
    
            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <form class="space-y-6" id="loginFormData">
                    <div>
                        <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
                        <div class="mt-2">
                            <input id="name" name="name" type="name" autocomplete="name" required
                                class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6 outline-none">
                        </div>
                    </div>
    
                    <div>
                        <div class="flex items-center justify-between">
                            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                        </div>
                        <div class="mt-2">
                            <input id="password" name="password" type="password" autocomplete="current-password" required
                                class="block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6 outline-none">
                        </div>
                    </div>
    
                    <div>
                        <button type="submit"
                            class="flex w-full justify-center rounded-md bg-black px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
                            in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script>
        document.getElementById('loginFormData').addEventListener('submit', function (event) {
            event.preventDefault();

            const formData = {
                name: document.getElementById('name').value,
                password: document.getElementById('password').value
            };

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success === true) {
                        window.location.href = '/admin';
                    } else {
                        alert(data.message)
                    }
                })
                .catch(error => {
                    console.error(error);
                });
        });
    </script>

    <%- include('./footer.ejs') %>